body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #155799, #be3cd794);
}
.header{
    position: fixed;
    top:0;left: 0;right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1% 4%;
    background-color: #040608;
    z-index: 1 !important;
}
.navbar a{
    padding: 0 20px;
    text-decoration: none;
    font-size: 22px;
    color: bisque;
    transition: 0.5s;
}
.navbar a:hover{
    font-size: 20px;
    color: cyan;
}
.header img{
    width: 4rem;
    border-radius: 20px;
}

#home{
    margin-top: 10rem;
    display: flex;
    padding: 0 5rem;
}
#home img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 50px;
    margin: 0 3rem;
}
#home h1{
    color: coral;
    font-family: monospace;
    line-height: 1.8;
}
#services{
    margin: 1rem;
    padding: 2px;
    display:flex;
    justify-content: space-between;

    


}
.card{
    padding: 12px;
    text-align: center;
    border-radius: 20px;
    background-color: antiquewhite;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    width: 77%;
    margin: 0 2rem;
    transition: all 0.4s ease-in-out;
    box-shadow:5px 10px #ea68cc;

}
.card:hover{
    transform: rotateZ(10deg)
}

.btn{
    
   
        text-align: center;
        margin: 10px 2px;
        padding: 8px 20px;
        display: inline-block;
        border: none;
        font-size: 18px;
        cursor: pointer;
        background-color: orange;
        border-radius: 8px;
        transition: all 0.5s ease-in-out;
}
.btn:hover{
transform: scale(1.06);

}
#head1{
    color: rgb(238, 174, 132);
    text-align: center;
    margin:125px 20px;
    background: antiquewhite;
}
.card h1{
    color: #82b767;
    font-family: cursive;
}
p{
    font-family: fantasy;
    color: cadetblue;
}
p1{
    font-family:sans-serif;
    color:darkolivegreen;
}
p2{
    font-size: 18px;
    color: brown;
    font-weight: bold;
    font-style: italic;
}
